@media screen and (max-width:999px){

    .img-content{
        font-size: 13px;
    }
    .full-img{
        width: 20%;
    }
    .alb-heading + hr{
        width: 35%;
    }
}




@media screen and (max-width:900px){
    .img-content{
        font-size: 12px;
    }
   
    .full-img{
        width: 25%;
    }
}


@media screen and (max-width:660){
    .full-img{
        width: 31%;
    }
}

@media screen and (max-width:600px){
    
    .full-img{
        width: 31%;
    }
    .alb-heading + hr{
        width: 60%;
    }
    .img-content p:nth-child(1){
        margin-bottom:5px;
    }
}



@media screen and (max-width:460px){
    .img-container{
        justify-content: space-around;
    }
    .full-img{
        width: 40%;
    }
}



@media screen and (max-width:390px)
{
   .img-container{
      flex-direction: column;
      align-items: center;
   }    
   .full-img{
    width: 47%;
}
   .alb-heading{
    text-align:center;
   }
   .alb-heading + hr{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
}