@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
    --tcolor:#091540;
    --logo-font:'Cinzel', serif;
    --text-font:'Lato',sans-serif;
}

body{
    background-color: #F8F7F9;

}


/* navbar CSS */
nav{
    background-color: var(--tcolor);
  
}
nav a{
    color:white !important;
}
.navbar-toggler{
    background-color:#F8F7F9;
    color:white;
}
.dropdown-item{
    color:black !important;
}
.container-fluid span{
    color: white !important;
    font-family: var(--logo-font);
    /* font-size:2em; */
}

.navbar-collapse li a{
    font-family: var(--text-font);
    font-size:1.1em;
}

.logo{
   width:4em;
}